:root{
    --bg-color-orange:#E28625;
    --bg-color-green:#006971;
    --bg-color-darkgreen:#004140;
    --white: #FFF;
    --btn-white:#F2F2F2;
    --fs-h1: 2.5rem;
    --fs-p: 0.9375rem;
    --lh-p:1.67;
    --fw-bold: 700;
    --fw-normal: 400;
    --ff-h1:'Big Shoulders Display', cursive;
    --ff-base:'Lexend Deca', sans-serif;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family:var(--ff-base) ;
    font-size: var(--fs-p);
}

main{
    margin-top: 5.5rem;
    width: 87%;
    min-width: 327px;
    margin-bottom: 1.875rem;
}

h1{
    color: var(--white);
    font-size: var(--fs-h1);
    font-family: var(--ff-h1);
    line-height: 3rem;
    text-transform: uppercase;
    margin-bottom: 0;
}

p{
    line-height: var(--lh-p);
    color: var(--white);
    opacity: 0.75;
    margin: 1.5625rem auto;
}


section{
    padding: 3rem;
}

button{
    border: none;
    padding: .9375rem 1.9375rem ;
    border-radius: 25px;
    background: var(--btn-white);
    line-height: 1.5625rem;
}

.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
}

.card-sedans{
    border-radius:8px 8px 0 0;
    background-color: var(--bg-color-orange);
}

.card-sedans button{
    color: var(--bg-color-orange);
}

.card-sedans button:hover{
    background-color: var(--bg-color-orange);
    border: 2px solid;
    border-color: var(--white);
    color: var(--white);
}

.card-suvs{
    background-color: var(--bg-color-green);
}
.card-suvs button{
    color: var(--bg-color-green);
}

.card-suvs button:hover{
    background-color: var(--bg-color-green);
    border: 2px solid;
    border-color: var(--white);
    color: var(--white);
}

.card-luxury{
    background-color: var(--bg-color-darkgreen);
    border-radius:0 0 8px 8px;
}

.card-luxury button{
    color: var(--bg-color-darkgreen);
}

.card-luxury button:hover{
    background-color: var(--bg-color-darkgreen);
    border: 2px solid;
    border-color: var(--white);
    color: var(--white);
}

footer{
    text-align: center;
}

@media screen and (min-width: 768px) {
    main{
        max-width: 921px;
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .card-sedans button,
    .card-suvs button,
    .card-luxury button{
        margin-top: 3.625rem;
    }

    .card-sedans{
        border-radius:8px 0 0 8px;
    }

    .card-luxury{    
        border-radius: 0 8px 8px 0;
    }
}


